body {
    grid-template-columns: 1fr !important;
    height: unset;
}

.content { margin-top: 6rem !important }

.index-link {
    position: fixed;
    padding: 2rem;
    bottom: 0;
    right: 0;
}

@media screen and (max-width: 880px) {
    .content { max-width: 30rem; }
    .index-link {
        width: 100vw;
        right: unset;
        background-color: black;
    }
}

@media screen and (max-width: 500px) {
    .content { max-width: 19rem; }
}

/* IPHONE 5S/SE*/
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 667px) {
    html {
        font-size: 30pt;
        line-height: 1.5;
    }

    .content { 
        max-width: 19rem; 
        margin: 1rem auto 6rem auto;
        margin-top: 1rem !important;
    }

    a {
        border-bottom: 1px solid white;
    }
}

