@import url('inter-ui-web/inter-ui.css');
:root {
    --dark: #000;
    --light: #fefefe;
    --grey: #5d5d5d;
    --white: #f2f2f2;
    --code-bg: #111;
    --time: 100ms;
}

/* Reset.css Courtesy of XXIIVV */
*           { margin:0;padding:0;border:0;outline:0;text-decoration:none;font-weight:inherit;font-style:inherit;color:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;border-collapse:collapse;border-spacing:0; -webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
*:focus     { outline: none}
::selection { background: #72dec2; opacity:1.0; color:#000; padding:10px; /* Safari */ }

body { background:#000; overflow-x: hidden; transition: opacity 150ms; opacity: 1 !important}
b { font-weight:bold; }
i { font-style:italic; }
a { cursor: pointer; }
ul { list-style-position: outside; }
hr { clear:both; }
code { white-space: pre; color: black; background: white; font-family: monospace; }
svg { stroke-width: 10;stroke: white;stroke-linecap: round; }
strong { font-weight: bold; }


/* main */
html {
    font-family: "Inter UI", sans-serif;
    background-color: var(--dark);
    color: var(--light);
    line-height: 1.5rem;
}

body {
    display: grid;
    grid-template-columns: 13rem 1fr;
    height: 100%;
    grid-column-gap: 20px;
}

h1 {
    padding: 1rem 0;
    font-size: 2rem;
}

h2, h3, h4, h5, h6 {
    padding: 1rem 0;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 1.15rem;
}

a {
    color: var(--white);
    text-decoration: none;
    -webkit-transition: opacity var(--time) ease-in-out;
    -moz-transition: opacity var(--time) ease-in-out;
    -ms-transition: opacity var(--time) ease-in-out;
    -o-transition: opacity var(--time) ease-in-out;
    transition: opacity var(--time) ease-in-out;
    border-bottom: 1px dotted white;
}
a:hover {
    opacity: 0.7;
}
a:visited {
    color: var(--white);
}

blockquote, pre {
    background: var(--code-bg);
    padding: 1.5rem 2rem;
    margin: 1rem 0 1rem 0;
    width: 80%;
}

pre {
    color: var(--code-bg);
    background: white;
    padding: 1.5rem 2rem;
    margin: 1rem 0 1rem 0;
    width: 80%;
}

code {
    color: var(--code-bg);
    background: white;
    padding: 0.1rem .5rem;
    border-radius: 1rem;
}
pre code {
    padding: unset;
    border-radius: unset;
}

img {
    padding: 1rem;
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

ul {
    list-style-image: url("../media/dot.svg");
    margin-left: 1rem;
}

p {
    padding: .5rem 0;
}

.content {
    margin: 3rem auto 6rem auto;
    width: 800px;
}

.index {
    padding-top: 3rem; /* padding for breadcrumb */
    margin: 0.5rem 0 0 0.5rem;
    width: 13rem;
    /* https://stackoverflow.com/a/13337664 */
    overflow-y: scroll;
    top: 0;
    bottom: 0;

}
.index ul {
    margin: 0;
    list-style-type: none;
    padding-left: 1rem;
}
.index li:before {
    content: "";
    margin-right: 0;
}
.index a {
    border-bottom: none !important;
}

.breadcrumb {
    position: fixed; /* show the breadcrumb while we scroll through the index */
    border-bottom: 1px white solid;
    padding: 1rem 0.1rem 0.5rem 0.5rem;
    width: 11rem;
    z-index: 10;
    background: var(--dark);
}
.sidebar {
    overflow-y: scroll;
    overflow-x: hidden;
}
