@import url('inter-ui-web/inter-ui.css');

:root {
    --dark: #000;
    --light: #fefefe;
    --grey: #5d5d5d;
    --white: #f2f2f2;
    --time: 100ms;
}

html {
    font-family: "Inter UI", sans-serif;
    background-color: var(--dark);
    color: var(--light);
}
body {
    display: grid;
    line-height: 25px;
}
a:visited {
    color: var(--white);
}
a {
    color: var(--white);
    text-decoration: none;
    -webkit-transition: opacity var(--time) ease-in-out;
    -moz-transition: opacity var(--time) ease-in-out;
    -ms-transition: opacity var(--time) ease-in-out;
    -o-transition: opacity var(--time) ease-in-out;
    transition: opacity var(--time) ease-in-out;
    border-bottom: 1px dotted white;
}
a:hover {
    opacity: 0.7;
}

.content {
    margin: 20px auto 70px auto;
    width: 800px;
}

.index {
    position: fixed;
    display: grid;
    margin: 10px 0 0 5px;
    width: 200px;
}
.index ul {
    margin: 0;
    list-style-type: none;
    padding-left: 20px;
}
.index a {
    border-bottom: none !important;
}
.breadcrumb {
    margin-bottom: 15px;
}
h1 {
    padding-top: 35px;
}
